
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', sans-serif;
    
    scroll-behavior: smooth;
}

.footer {
    width: 100%;
    background-color:#241a1b;
}

.footer-conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-creditos {
    color: white;
    font-family: 'Gruppo', sans-serif;
    font-size: 15px;
    padding: 10px 0;
}

.icons {
    display: flex;
    gap: 55px;
    
}


@media (max-width:1200px) {
    .contato-creditos{
        text-align: center;
    }
    
    .footer-conteiner {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
   
}




